<!DOCTYPE html>
{% extends "main_app/base.html" %}
  {% block body_block %}
    <br><br>
    <div class="container">
      <blockquote class="blockquote">
        <p class="mb-0">Sometimes, you find yourself in the middle of nowhere; and sometimes, in the middle of nowhere, you find yourself</p>
        <footer class="blockquote-footer">Never stop !!!<cite title="Source Title">Legion Vehicles</cite></footer>
      </blockquote>
      <br><br>
      <p class="h1 text-center">Contact Us</p>
      <br>
      <p class="h3 text-center">Name : Swapnil Vaidya</p>
      <br>
      <p class="h3 text-center">Email : swapnil@legion.com</p>
      <br>
      <p class="h3 text-center">Contact Number : +91 00000000001</p>
    </div>

  {% endblock %}
